In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series,DataFrame
import pandas as pd

import sklearn

%precision 3

import requests,zipfile
import io

In [2]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
res = requests.get(url).content

iris = pd.read_csv(io.StringIO(res.decode('utf-8')),header = None)
print(iris)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
iris = iris[iris[4] != 'Iris-virginica']

In [4]:
iris.groupby(iris[4]).size()

4
Iris-setosa        50
Iris-versicolor    50
dtype: int64

In [5]:
iris[4] = iris[4].map(lambda x:1 if x =='Iris-versicolor' else 0)
iris.groupby(iris[4]).size()

4
0    50
1    50
dtype: int64

In [6]:
iris

      0    1    2    3  4
0   5.1  3.5  1.4  0.2  0
1   4.9  3.0  1.4  0.2  0
2   4.7  3.2  1.3  0.2  0
3   4.6  3.1  1.5  0.2  0
4   5.0  3.6  1.4  0.2  0
..  ...  ...  ...  ... ..
95  5.7  3.0  4.2  1.2  1
96  5.7  2.9  4.2  1.3  1
97  6.2  2.9  4.3  1.3  1
98  5.1  2.5  3.0  1.1  1
99  5.7  2.8  4.1  1.3  1

[100 rows x 5 columns]

In [7]:
iris = iris.sample(frac=1)
iris

      0    1    2    3  4
61  5.9  3.0  4.2  1.5  1
35  5.0  3.2  1.2  0.2  0
60  5.0  2.0  3.5  1.0  1
41  4.5  2.3  1.3  0.3  0
9   4.9  3.1  1.5  0.1  0
..  ...  ...  ...  ... ..
47  4.6  3.2  1.4  0.2  0
28  5.2  3.4  1.4  0.2  0
20  5.4  3.4  1.7  0.2  0
54  6.5  2.8  4.6  1.5  1
50  7.0  3.2  4.7  1.4  1

[100 rows x 5 columns]

In [8]:
print(iris.dtypes)

0    float64
1    float64
2    float64
3    float64
4      int64
dtype: object

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = iris[[0,1,2,3]]
y = iris[4]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=0)

model= LogisticRegression()
model.fit(X_train,y_train)

print('正解率(train):{:.3f}'.format(model.score(X_train,y_train)))
print('正解率(test):{:.3f}'.format(model.score(X_test,y_test)))

正解率(train):1.000
正解率(test):1.000