In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series,DataFrame
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns 
%matplotlib inline

import sklearn

%precision 3

import requests,zipfile
import io

In [85]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
res = requests.get(url).content

iris = pd.read_csv(io.StringIO(res.decode('utf-8')),header = None)
print(iris)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [86]:
iris.groupby(iris[4]).size()

4
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [95]:
iris[4] = iris[4].map(lambda x:0 if x =='Iris-setosa' else 2 if x =='Iris-virginica' else 1)

In [96]:
iris = iris.sample(frac=1)
iris

       0    1    2    3  4
50   7.0  3.2  4.7  1.4  1
137  6.4  3.1  5.5  1.8  2
135  7.7  3.0  6.1  2.3  2
19   5.1  3.8  1.5  0.3  0
24   4.8  3.4  1.9  0.2  0
..   ...  ...  ...  ... ..
16   5.4  3.9  1.3  0.4  0
88   5.6  3.0  4.1  1.3  1
109  7.2  3.6  6.1  2.5  2
69   5.6  2.5  3.9  1.1  1
17   5.1  3.5  1.4  0.3  0

[150 rows x 5 columns]

In [99]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split


X = iris[[0,1,2,3]]
y = iris[4]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=0)

model= LogisticRegression()
model.fit(X_train,y_train)

print('正解率(train):{:.3f}'.format(model.score(X_train,y_train)))
print('正解率(test):{:.3f}'.format(model.score(X_test,y_test)))

正解率(train):1.000
正解率(test):0.933